*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   overflow-x: hidden;
   background-color: hsl(240, 64%, 20%);
}
/*style en-tete*/
header{
    display: flex;
    position: fixed;
    background-color: rgba(226, 218, 218, 0.5);
    backdrop-filter: blur(20px);
    margin-bottom: 50px;
    width: 100%;
    z-index: 2;

}
/*redimensionnement du logo*/
.logo{
  width: 70%;
  display: flex;
  margin-left: 3%;
  h2{
    font-size: 40px;
    color: hsl(240, 64%, 20%);
    span{
      font-size: 80px;
      color: #006666;
      filter: saturate(200%);
    }
  }
}
/*style liens de la barre*/
.barnav a{
    text-decoration: none;
    color: hsl(240, 64%, 20%);
    text-transform: uppercase;
    justify-content: space-between;
    font-size: large;
}
/*style si le curseur se pose dessus*/
.barnav a:hover{
    text-decoration: underline;
}
/*style de la barre*/
.barnav{
    justify-content: space-around;
    background-color: #f2f1f0;
    padding-top: 1%;
    height: 50px;
    margin-right: 3%;
    width: 30%;
    display: flex;
    margin-top: 2%;
    border-radius: 100px;
    font-weight: 1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*barre nav responsive*/
.barnav2{
  display: none;
}
.buttondelabarre{
  display: none;
}
/*introduction*/
/*phrase introductive*/
.Bienvenue{
  margin-left: 55%;
  padding-top: 10%;
}
.presentation{
  display: flex;
  color: hsl(240, 64%, 20%) ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  width: 100%;
  h1{
    font-size: 75px;
    padding-top: 17%;
    span{
      font-size: 80px;
      color: #006666;
      filter: saturate(200%);
    }
  }
  p{
    padding-top: 5%;
    font-size: 20px;
  }
  div{
    a{
      background-color: hsl(240, 64%, 20%);
    }
    button{
      text-decoration: none;
      background-color: hsl(240, 64%, 20%);
      color: white;
      margin-top: 3%;
      width: 40%;
      height: 2.5vw;
      font-size: 20px;
      font-family: 'Times New Roman', Times, serif;
      
    }
  }
  filter: saturate(100%);
  background-size: cover;
  height: 55vw;
}
/*presentation des sortes approfondies au menu*/
.presort{
   display: flex;
   flex-wrap: wrap;
   background-color: hsl(240, 64%, 20%);
   justify-content: space-around;
   margin-top: 20px;
   height: 350px;
   width: 100%;
}
.pres{
  background-color: white;
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: 45px;
  text-align: center;
  width: 250px;
  height: 280px;
  color: #006666;
  box-shadow: 5px 5px 5px rgba(232, 225, 225, 0.118);
}
.pres img{
  width: 180px;
  height: 180px;
  padding-top: 20px;
}
.pres figcaption{
  padding-top:  20px;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 25px;
}
.pres a{
  background-color: #006666;
  button{
    text-decoration: none;
    width:  80%;
    height: 20%;
    border-radius: 20px;
    color:white;
    font-size: large;
    background-color: #006666;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
}
.pres:hover{
  transform: translateY(5px);
  box-shadow: 3px 5px black;
  transition: 0.5s;
}
/*bouton pour aller dans le menu*/
.next{
  justify-items: center;
  margin-bottom: 10%;
 button{
  position: relative;
  border-radius: 5%;
  margin-top: 10%;
  height: 30%;
  width: 50%;
  margin-left: 25%;
  background-color: #006666;
  color:white;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 3px 2px black;
  a{
    text-decoration: none;
    color:white;
    font-size: 60px;
  }
 }
}
.next:hover{
  button{
  background-color: white;
  color: hsl(240, 64%, 20%);
  transform: translateY(5px 3px);
  box-shadow: 2px 3px black;
  transition: 1.5s;
  }
}
/* pourquoi health*/
.why{
  text-align: center;
  font-size: xX-large;

  color:  hsl(240, 64%, 20%) ;
  height: 70%;
  align-items: center;
  background-color: white;
  border-bottom: 150px solid white;
}
/* gros titre à propos de health*/
.wdiv1{
  padding-top: 50px;
  margin-bottom: 50px;
}
/* partie dévélopée de à propos*/
.wdiv2{
  width: 60%;
  height: 80%;
  text-align: center;
  color: white;
  background-color: hsl(240, 64%, 20%);
  border: 2px solid hsl(240, 64%, 20%);
  border-radius:1% ;
  margin-left: 20%;
  a{
    color:#006666;
    text-decoration: none;
  }

}
/*debut style bas de page*/
.basdepage{
  background-color:  hsl(240, 64%, 20%);
  padding-left: 15%;
  height: 30vw;
}
.foot1{
  width: 30%;
  display: flex;
  padding-top: 5%;
  padding-left:20px ;
  height: 300px;
  hr{
    margin-left: 30%;
  }
}
.text{
  width: 80%;
  color: white;
  padding-right: 10%;
  font-size: 50px;
  span{
    font-size: 100px;
    color: #006666;
  }
}
.bp{
  display: flex;
}
/*debut style pour les services  et réseaux*/

.terminal{
  display: flex;
  padding-top: 3%;
  width: 70%;
}
.foot2{
  color: white;
  margin-left: 10%;
  display: flex;
  padding-top: 5%;
  height: 300px;
  
}
.get{
  width: 50%;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.getsortes{
  padding-left: 0%;
}
.sortesréseau{
  display: flex;
  flex-direction: column;
}
hr{
  margin-left: 30%;
}
.reseaux{
  display: flex;
  flex-direction: column;
  margin-left: 30%;
}
.res{
  width: 50%;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tel{
  display: flex;
  padding-left: 20%;
  p{
    padding-top: 10%;
    font-weight: bold;
  }
}
.email{
  display: flex;
  padding-left: 20%;
  p{
    padding-top: 10%;
    font-weight: bold;
  }
}
.insta{
  display: flex;
  padding-left: 20%;
  p{
    padding-top: 10%;
    font-weight: bold;
  }
}
.end{
 text-align: center;
 margin-top: 3%;
 color: white;
 font-size:  20px;
 font-weight: bold;
}
@media (max-width: 640px) 
{
  body{
    overflow-x: hidden;
  }
  header{
    position: fixed;
    background-color: rgba(226, 218, 218, 0.5);
    backdrop-filter: blur(10px);
    height: 15vw;
  }
/*redimensionnement du logo*/
.logo{
  width: 70%;
  display: flex;
  margin-left: 3%;
  h2{
      font-size: 25px;
    color: hsl(240, 64%, 20%);
    span{
      font-size: 30px;
      color: #006666;
      filter: saturate(200%);
    }
  }
    
}
  .barnav{
    display: none;
  }
  .buttondelabarre{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    height: 13%;
    width:  15%;
    border-radius: 50%;
    border: none;
    outline:none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin-right: 5%;
    margin-top: 5%;
  }
  .line{
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    transition: transform 0.3s ease-out;
    opacity: 0.3s ease-out;
  }
  .l1{
    transform: translateY(-10px);
  }
  .l3{
    transform: translateY(10px);
  }
  .buttondelabarre.active .l1{
      transform: translateY(0px) rotate(135deg);
  }
  .buttondelabarre.active .l2{
      opacity: 0;
  }
  .buttondelabarre.active .l3{
      transform: translateY(0px) rotate(-135deg);
  }
  .barnav2{
    position: fixed;
    width: 50vw;
    min-height: 100vh;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    background-color: hsl(240, 64%, 20%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
    border-left: 3px solid white;
    padding-bottom: 30%;
    a{
      display: flex;
      flex-direction: column;
      text-decoration: none;
      font-family: 'Times New Roman', Times, serif;
      font-size:20px;
      font-weight: bold;
      color: white;
      margin: 7% 3%;
      align-items: center;
      justify-content: center;
    }
    a:hover{
    text-decoration: underline;
    }
  }
  .barnav2.active{
    transform: translate(0);
  }
  /*introduction*/
 .presentation{
  overflow-x: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url(../codebase/imagesite/docteurcravatebleu.avif);
  height: 100vh;
  padding-right: 50%;
  /*phrase introductive : bienvenue*/
  h1{
    font-size: 35px;
    padding-top:  8.5cm;
    span{
      font-size: 35px;
    }
  }
  p{
    font-size: 10px;
  }
  div{
    button{
      width: 50%;
      height: 10%;
      a{
        font-size: 15px;
      }
    }
  }
  filter: saturate(100%);
  background-size: cover;
  background-position:30%;
  background-repeat: no-repeat;
 }
 /*presentation des sortes */
 .presort{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   background-color: hsl(240, 64%, 20%);
   justify-content: space-around;
   height:80%;
   width: 100%;
 }
 .pres{
  background-color: white;
  text-align: center;
  width:  55%;
  height: 75%;
  color: #006666;
  margin-left: 25%;
  }
 .pres img{
  width: 150px;
  height: 150px;
  padding-top: 20px;
 }
 .pres figcaption{
  padding-top:  20px;
  font-weight: bold;
  margin-bottom: 25px;
 }
 .pres button{
   background-color: #006666;
   width: 150px;
   height: 40px;
  border-radius: 10px;
  a{
    text-decoration: none;
    color:white;
    font-size: 15px;
    background-color: #006666;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
 }
 .pres:hover{
  transform: translateY(5px);
  box-shadow: 3px 5px black;
  transition: 0.7s;
 }
 /*bouton pour accéder au menu*/
 .next{
    justify-items: center;
    margin-bottom:  40%;
    button{
     position: relative;
     border-radius: 3%;
     height: 10%;
     width: 90%;
     margin-left: 4%;
     background-color: #006666;
     color:white;
     font-size: 30px;
     font-weight: bold;
     text-transform: capitalize;
     font-family: 'Times New Roman', Times, serif;
     box-shadow: 3px 2px black;
     a{
       text-decoration: none;
       color:white;
       font-size: 40px;
     }
   }
  }
  .next:hover{
     button{
      background-color: white;
      color: hsl(240, 64%, 20%);
      transform: translateY(5px 3px);
      box-shadow: 2px 3px black;
      transition: 1.5s;
    }
  }
  /* pourquoi health*/
  .why{
     text-align: center;
     font-size: xX-large;
     color:  hsl(240, 64%, 20%) ;
     height: 70%;
     align-items: center;
     background-color: white;
     border-bottom: 150px solid white;
   }
  .wdiv1{
    padding-top: 10%;
    margin-bottom: 10%;
  }
  .wdiv2{
    width: 90%;
    text-align: center;
    color: white;
    background-color: hsl(240, 64%, 20%);
    border: 2px solid hsl(240, 64%, 20%);
    border-radius:1% ;
    margin-left: 5%;
    a{
      color:yellow;
      text-decoration: none;
    }
  }
  .suggest{
    h2{
      font-size: 3vh;
    }
    .form{
      width: 100%;
      height: 100%;
    }
    input::placeholder{
        color:gray;
        font-size: 5px;
        font-weight: bold;
        text-transform: capitalize;
    }
    textarea::placeholder{
        color:gray;
        font-size: 5px;
        padding-left: 3%;
        font-weight: bold;
        text-transform: capitalize;
    }
    div{
      input{
        height: 90%;
      }
      input::placeholder{
        color:gray;
        padding-left: 10%;
        text-transform: capitalize;
      }
    }
    .forminput{
      width: 100%; 
      padding-top: 5%;
      button{
        width: 100%;
        height: 100%;
        font-size: 5px;
      }
    }
  }
  /*debut style bas de page*/
  .basdepage{
     background-color:  hsl(240, 64%, 20%);
     justify-items: center;
     justify-content: center;
     width: 100%;
  }
  .foot1{
    padding-top: 5%;
    height: 10%;
    hr{
      margin-left: 10%;
    }
  }
  .text{
    color: white;
    text-align: center;
    margin-right: 20%;
    font-size: 70px;
    font-weight: bold;
    span{
      font-weight: bold;
      font-size: 100px;
      color: #006666;
   }
  }
  .bp{
    display: flex;
    flex-direction: column;
    hr{
      display: none;
    }
  }
  .terminal{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .foot2{
    color: white;
    display: flex;
    font-size: 30px;
    padding-top: 5%;
    height: 20%;
    hr{
      display: none;
    }
  }
  .get{
    padding-top: 5%;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 5%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    ul{
      font-size: 9px;
      font-weight: normal;
    }
  }
  .sortesréseau{
  display: flex;
  flex-direction: column;
  }
  .res{
    padding-top: 5%;
    font-size:20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .tel{
    display: flex;
    img{
      width: 30%;
      height: 80%;
    }
    p{
      padding-top: 10%;
      font-weight: bold;
      font-size: 9px;
    }
  }
  .email{
    display: flex;
    img{
      width: 30%;
      height: 80%;
    }
    p{
      padding-top: 10%;
      font-weight: bold;
      font-size: 9px;
    }
  }
  .insta{
    display: flex;
    img{
      width: 30%;
      height: 80%;
    }
    p{
      padding-top: 10%;
      font-weight: bold;
      font-size: 9px;
    }
  }
  .end{
    display:inline-block;
    z-index: 1;
    color:white;
    font-size:  20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border-bottom: 20px solid hsl(240, 64%, 20%);
    background-color: hsl(240, 64%, 20%);
  }
}