*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
/*style en-tete*/
header{
    z-index: 2;
    display: flex;
    position: fixed;
    border-bottom:5px solid  hsl(240, 64%, 20%);
    background-color: hsl(240, 64%, 20%);
    margin-bottom: 50px;
    width: 100%;

}
/*redimensionnement du logo*/
.logo{
  width: 70%;
  display: flex;
  margin-left: 3%;
  h2{
    font-size: 40px;
    color: lightyellow;
    span{
      font-size: 80px;
      color: #006666;
    }
  }
    
}
/*style liens de la barre*/
.barnav a{
    text-decoration: none;
    color: hsl(240, 64%, 20%);
    text-transform: uppercase;
    justify-content: space-between;
    font-size: large;
}
/*style si le curseur se pose dessus*/
.barnav a:hover{
    text-decoration: underline;
    
  
}
/*style de la barre*/
.barnav{
    justify-content: space-around;
    padding-top: 13px;
    height: 50px;
    margin-right: 3%;
    width: 30%;
    display: flex;
    margin-top: 2%;
    border-radius: 100px;
    font-weight: 1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
}
/*barre nav responsive*/
.barnav2{
  display: none;
}
.buttondelabarre{
  display: none;
}
/*style de l'introduction*/
.intro{
    display: flex;
    font-size:30px;
    padding-top: 5%;
}
.introimg{
    margin-left:5%;

}
.titre2{
    padding-top: 20px;
    color:hsl(240, 64%, 20%); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:3000;
    margin-left: 3%;
    margin-top: 170px;
    margin-bottom: 170px;
    animation: translateY 0.5s linear infinite;
}
/* style du contenu*/
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
    gap: 10px;
    text-decoration: none;
    background-color: #f2f1f0;
    border-bottom: 5px solid hsl(240, 64%, 20%) ;
    overflow: hidden;
    border-bottom: 100px solid #f2f1f0;
    

}
/*chaque carré*/
.card{
    border: 5px groove white ;
    border-radius: 20px;
    background-color: white;
    overflow: auto;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10%;
    h3{
        background-color:hsl(240, 64%, 20%)  ;
        color: white;
        text-align: center;
    }
    img{
         z-index: 1;
         width: 200px;
         height:160px;
         position: relative;
         margin-top: 20px;
         margin-left: 60px;
   } 
   footer{
    background-color:hsl(240, 64%, 20%)  ;
    height: 15.7%;
    padding-left: 30%;
    padding-bottom: 3%;
    button{
        color: white;
        background-color: #006666;
        border-style: groove;
        width: 100px;
        height: 30px;
        border-radius: 20px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
    button:hover{
    transform:translateY(3px);
    box-shadow: 3px 2px black;
    background-color: white;
    color: hsl(240, 64%, 20%);
    transition: 1s;
}
     
   }
}
/*debut style bas de page*/
.basdepage{
  background-color:  hsl(240, 64%, 20%);
  padding-left: 15%;
  height: 30vw;
}
.foot1{
  width: 30%;
  display: flex;
  padding-top: 5%;
  padding-left:20px ;
  height: 300px;
  hr{
    margin-left: 30%;
  }
}
.text{
  width: 80%;
  color: white;
  padding-right: 10%;
  font-size: 50px;
  span{
    font-size: 100px;
    color: #006666;
  }
}
.bp{
  display: flex;
}
.terminal{
  display: flex;
  padding-top: 3%;
  width: 70%;
}
.foot2{
  color: white;
  margin-left: 10%;
  display: flex;
  padding-top: 5%;
  height: 300px;
  
}
.get{
  width: 50%;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.getsortes{
  padding-left: 0%;
}
.sortesréseau{
  display: flex;
  flex-direction: column;
}
hr{
  margin-left: 30%;
}
.reseaux{
  display: flex;
  flex-direction: column;
  margin-left: 30%;
}
.res{
  width: 50%;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tel{
  display: flex;
  padding-left: 20%;
  p{
    padding-top: 10%;
    font-weight: bold;
  }
}
.email{
  display: flex;
  padding-left: 20%;
  p{
    padding-top: 10%;
    font-weight: bold;
  }
}
.insta{
  display: flex;
  padding-left: 20%;
  p{
    padding-top: 10%;
    font-weight: bold;
  }
}
.end{
  position: absolute;
  display: inline;
  color: white;
  margin-top: 3%;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 20%;
  text-align: center;
  border-bottom: 20px solid hsl(240, 64%, 20%);

}
@media (max-width: 991px) 
{
  body{
    overflow-x: hidden;
  }
  header{
    position: fixed;
    background-color: hsl(240, 64%, 20%);
  }
  .barnav{
    display: none;
  }
  .buttondelabarre{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    top: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    outline:none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
  }
  .line{
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    transition: transform 0.3s ease-out;
    opacity: 0.3s ease-out;
  }
  .l1{
    transform: translateY(-10px);
  }
  .l3{
    transform: translateY(10px);
  }
  .buttondelabarre.active .l1{
      transform: translateY(0px) rotate(135deg);
  }
  .buttondelabarre.active .l2{
      opacity: 0;
  }
  .buttondelabarre.active .l3{
      transform: translateY(0px) rotate(-135deg);
  }
  .barnav2{
    position: fixed;
    width: 50vw;
    min-height: 100vh;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(240, 64%, 20%);
    transform: translateX(100%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
    border-left: 3px solid white;
    padding-bottom: 30%;
    a{
      display: flex;
      flex-direction: column;
      text-decoration: none;
      font-family: 'Times New Roman', Times, serif;
      font-size:20px;
      font-weight: bold;
      color: white;
      margin: 7% 3%;
      align-items: center;
      justify-content: center;
    }
    a:hover{
    text-decoration: underline;
    }
  }
  .barnav2.active{
    transform: translate(0);
  }
  .intro{
    display: flex;
  }
  .titre2{
    width: 50VW;
    font-size: 25px;
  }
  .introimg{
    width: 50vw;
    margin-top: 5%;
    margin-right: 10%;
    img{
      position: absolute;
      width: auto;
      height: auto;
      margin-right: 20%;
    }
  }
    /*debut style bas de page*/
  .basdepage{
     background-color:  hsl(240, 64%, 20%);
     justify-items: center;
     justify-content: center;
     width: 100%;
     height: 100vw;
  }
  .foot1{
    padding-top: 5%;
    height: 10%;
    hr{
      margin-left: 10%;
    }
  }
  .text{
    color: white;
    text-align: center;
    margin-right: 20%;
    font-size: 70px;
    font-weight: bold;
    span{
      font-weight: bold;
      font-size: 100px;
      color: #006666;
   }
  }
  .bp{
    display: flex;
    flex-direction: column;
    hr{
      display: none;
    }
  }
  .terminal{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .foot2{
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding-top: 5%;
    height: 20%;
    hr{
      display: none;
    }
  }
  .get{
    padding-top: 5%;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 5%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    ul{
      font-size: 30px;
      font-weight: normal;
    }
  }
  .sortesréseau{
  display: flex;
  flex-direction: column;
  }
  .res{
    padding-top: 5%;
    font-size:50px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .tel{
    display: flex;
    margin-right:100%;
    p{
      padding-top: 10%;
      font-weight: bold;
      font-size: 20px;
    }
  }
  .email{
    display: flex;
    margin-right:100%;
    p{
      padding-top: 10%;
      font-weight: bold;
      font-size: 15px;
    }
  }
  .insta{
    display: flex;
    padding-right: 100%;
    p{
      padding-top: 10%;
      font-weight: bold;
      font-size: 20px;
    }
  }
  .end{
    position: absolute;
    display: inline;
    z-index: 1;
    color: white;
    padding-right: 30%;
    margin-top: 8%;
    font-size:  20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border-bottom: 20px solid hsl(240, 64%, 20%);
  }
}

  